<!-- 
Citation for the following code:
Date: 3/1/2023
Copied from nodejs-starter-app with changed database title
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library Database</title>
</head>
<body>
    <h1>Peoples Aristocratic Library: Library Items</h1>
    <a class="top-page-links" href="/">Homepage</a>
    <a class="top-page-links" href="/library_items">Library Items</a>
    <a class="top-page-links" href="/patrons">Patrons</a>
    <a class="top-page-links" href="/holds">Holds</a>
    <a class="top-page-links" href="/item_types">Item Types</a>

    <br><br><br>
    {{{body}}}

</body>
</html>