<!-- 
Citation for the following code:
Date: 3/1/2023
Copied from nodejs-starter-app with changed database title
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library Database</title>
</head>
<body>

    {{{body}}}

</body>
</html>